In [ ]:
import random
n = random.random()

def calc_degree(n):
    print(n**n)



calc_degree(n)

0.900084155124072

Choose randomly from a list

In [13]:
import random
list = ["Ahmed","Ali","Omar", 1, 3, 8]
random.choice(list)

'Ali'

In [14]:
list = ["Ahmed","Ali","Omar", 1, 3, 8]
random.choices(list, k = 4)

[8, 'Ali', 'Ali', 'Ahmed']

Read File

In [ ]:
import os
import sys  
# f = open("")
# print(f.read())
# f.close

In [25]:
base = "D:/DEPI/DEPI_GIZA_AIS4_S1_DS/src/python/session_4/code"

In [26]:
type(base)

str

In [27]:
import os 
file= os.listdir(base)

print(file)

['loop_func.ipynb']

In [28]:
import random
random.choice(file)

'loop_func.ipynb'

join pathes

In [21]:
base_dir = "./tmp_directory"
file_name = "text_1.txt"
file_path = os.path.join(base_dir , file_name)
file_path

'./tmp_directory\\text_1.txt'

remove file

In [22]:
# os.remove(base='/rem.text')
base_dir = "./tmp_directory"
file_name = "text_1.txt"
file_path = os.path.join(base_dir , file_name)

os.remove(file_path)

add new directory

In [24]:
import os
directory = "./tmp_directory_test_again"

if not os.path.exists(directory):
    os.makedirs(directory)
else:
    print("Directory already exists ;" , directory)

Directory already exists ; ./tmp_directory_test_again

In [25]:
import os
path = "tmp_directory_test_again"
if not os.path.exists(path):
    os.makedirs(path)
for i in range(20):
    inner_path = os.path.join(path ,"dir_"+ str(i))
    if not os.path.exists(inner_path):
        os.makedirs(inner_path)



def create_folders(path):
    
    if not os.path.exists(path):
        os.makedirs(path)
    for i in range(20):
        inner_path = os.path.join(path ,"dir_"+ str(i))
        if not os.path.exists(inner_path):
            os.makedirs(inner_path)

In [26]:
from create_folder import create_folders
create_folders(path)

File Handling

In [27]:
from create_folder import create_folders

open a file using "with" clause

In [29]:
with open("./tmp_directory/text_1.txt" , "a+") as file:
    file.write(" New line added\n")

    file.seek(0)

    updated_content = file.read()

    print(updated_content)

 New line added
 New line added

In [56]:
try:
    5/0
except :
    print("not accept to divide by zero")

not accept to divide by zero

In [57]:
try:
    x = 10
    y = int(input())
    x/y
except :
    print("Division by zero")

Division by zero

In [58]:
try:
    5/0
except Exception as e:
    print(e)

division by zero

*OOP*

In [32]:
"""""
this class

"""
class StudentInfo:

    def __init__(self,student_name,age,GPA,gender):
        self.student_name = student_name
        self.age = age
        self.GPA = GPA
        self.gender = gender


    def student_info(self):
        return f"welcome {self.student_name}"

In [33]:
s1 = StudentInfo("Maggo",21,3.99,"male")
s1.student_info()

'welcome Maggo'

In [79]:
class test:
    def info(self):
        print(self)

In [81]:
t1 = test()
print(t1)
print(t1.info())

<__main__.test object at 0x000001289EABE120>
<__main__.test object at 0x000001289EABE120>
None

In [84]:
class Calc:

    def __init__(self, num1, num2):
        self.num1 = num1
        self.num2 = num2

    def sum(self):
        return self.num1 + self.num2
    def sub(self):
        return self.num1 - self.num2

In [86]:
c1 = Calc(5,3)
c1.sum()

8

In [91]:
from abc import ABC, abstractmethod


class Animal(ABC):

    @abstractmethod
    def move(self):
        pass


class Bird(Animal):
    def move(self):
        print("bird")



class Cat(Animal):
    def move(self):
        print("cat")

In [92]:
a = Bird()
a.move()

bird