In [ ]:
########## Session_2 Contenued ##########

In [ ]:
#### diagram tree for nested if else statement
is_sunny = True
temp = 25
if is_sunny:
 print("It's a sunny day!")
 if temp > 20 :
        print("The weather is warm.")
 else:
        print("The weather is cool.")
else:
    print("It's not a sunny day.")

It's a sunny day!
The weather is warm.

In [14]:
grade = int(input("Enter your grade: "))
if grade <=100 and grade >= 0 :
    print("Valid grade")
    if grade >= 90:
       print("A")
    elif grade >= 80:
        print("B")
    elif grade >= 70:
       print("C")
    elif grade >= 60:
       print("D")
    elif grade < 60:
       print("F")
else:
 print("Invalid grade")

Valid grade
A

In [15]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [20]:
x=10
if x > 30 :
    pass

In [21]:
for i in range (6):
    if i == 3:
        continue
    print(i)
for i in range (6):
    if i == 4 :
        break
    print(i)

0
1
2
4
5
0
1
2
3

In [25]:
for i in range(5):
    if i == 2:
        pass
    else:
        print(i)

0
1
3
4

In [24]:
x = 6
while x>0:
    print("python")
    x -= 1

python
python
python
python
python
python

In [26]:
##########End of session_2##########

In [27]:
##########Session_3###########

In [34]:
def info_user(name ="admin",age = 21):
    """  
    param_1 : take y= the name from user
    type param_1 : str

    param_2 : take age from user
    type param_2 : int

    return : return a string of the name and the age
    type return : str

    """
    return f"my name is {name} and my age is {age} years old"

In [31]:
info_user("Maggo", 21)

'my name is Maggo and my age is 21 years old'

In [ ]:
from user_info import info_user

ImportError: cannot import name 'info_user' from 'user_info' (d:\DEPI\DEPI_GIZA_AIS4_S1_DS\src\python\session_3\code\user_info.py)

In [37]:
def function_1(name, age):
    print(f"my name is {name}, and my age is {age}")
function_1("amit", 40)

my name is amit, and my age is 40

In [39]:
def function_1(name, age):
    print(f"my name is {name}, and my age is {age}")
function_1(age = 40, name = "amit")

my name is amit, and my age is 40

Varadic arguments

In [45]:
def function_2(*name):
    print(name)
    print(type(name))
    
function_2("amit", "mago", "sami",1,2,3,4,True,[20,30,80,100])

('amit', 'mago', 'sami', 1, 2, 3, 4, True, [20, 30, 80, 100])
<class 'tuple'>

In [46]:
def function_3(**name):
    print(name)
    print(type(name))   
function_3(key1 = 10.5, key2 = 2, key3 = "machine learning", key4 = 'python')

{'key1': 10.5, 'key2': 2, 'key3': 'machine learning', 'key4': 'python'}
<class 'dict'>

Lambda Function

In [47]:
function_name = lambda x : x + 10
print(function_name(5))

15

In [48]:
info_user

In [ ]:
result = lambda x :x+10
result(10)
print(result)    ###print the function address
print(type(result))

<function <lambda> at 0x00000255DBC3AAC0>
<class 'function'>

In [ ]:
function_name2 = lambda x,y : x + y
print(function_name2(20,45))

65

In [54]:
function_name = lambda x,y : x**y
print(function_name(2,10))

1024